body{
  padding: 25px;
  text-align:center;
}
h1{
	color: purple;
	font-size: 50px;
	font-style: bold;
	text-align: center;
}
p{
  color: blue;
	font-size: 30px;
	font-style: italic;
	text-align: center;
}
img{
  width: 60vw;
  height: 60vh;
}